* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  position: relative;
  background: #000;
}

section {
  margin-bottom: 100px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}

.show-more {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  background: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.show-more:hover::before {
  width: 120%;
  height: 120%;
}

.show-more::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: -1;
}

.show-more__text {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

/*===========================================================================================================================*/
#canv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*header=====================================================================================================================*/
.header {
  padding: 10px 0;
  background: rgba(10, 10, 10, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
  background: #000;
  position: relative;
  z-index: 20;
}

.header__logo:hover::before {
  width: 128%;
  height: 128%;
}

.header__logo::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: -1;
}

.header__logo-big {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  color: #690069;
  padding: 0 3px;
}

.header__logo-small {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  overflow: hidden;
}

.header__nav-item {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #969696;
  position: relative;
  height: 18px;
}

.header__nav-item:hover .hover-item1 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.header__nav-item:hover .hover-item2 {
  bottom: 0px;
}

.header__nav-item span {
  display: block;
}

.header__nav-item .hover-item1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__nav-item .hover-item2 {
  position: absolute;
  bottom: -20px;
  color: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/*============================================================================================================================*/
.mobile-menu__btn {
  display: none;
  width: 50px;
  height: 20px;
  background: transparent;
  position: relative;
  border: none;
  z-index: 10;
}

.mobile-menu__btn::before {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.mobile-menu__btn::after {
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.mobile-menu__btn.active::before {
  top: 15px;
}

.mobile-menu__btn.active::after {
  bottom: 15px;
}

/*===========================================================================================================================*/
.mobile-menu {
  position: fixed;
  top: 60px;
  right: -250px;
  padding: 20px 10px;
  height: calc(100vh - 60px);
  background: rgba(10, 10, 10, 0.9);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: none;
  z-index: 10;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.mobile-menu__nav-item {
  margin-bottom: 20px;
}

.mobile-menu__contacts {
  text-align: center;
}

.mobile-menu__contacts-item {
  display: block;
  margin-bottom: 20px;
}

.mobile-menu__contacts .mobile-menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: 0 auto 20px;
}

.mobile-menu__contacts .mobile-menu__social-item {
  font-size: 0;
  line-height: 0;
}

.mobile-menu__contacts .mobile-menu__social-item .icon {
  fill: #fff;
  width: 30px;
  height: 30px;
}

/*main======================================================================================================================*/
.main {
  margin-bottom: 0;
  height: 100vh;
  padding-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .show-more {
  position: relative;
  margin-left: 330px;
  z-index: 5;
}

.main__items {
  max-width: 570px;
}

.main__title {
  font-size: 67px;
  line-height: 67px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main__subtitle {
  font-size: 30px;
  line-height: 30px;
}

/*=============================================================================================================================*/
.text-banner .text-anim {
  font-size: 60px;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.text-banner .text-anim div {
  white-space: nowrap;
  -webkit-animation: textAnim 33s linear infinite;
          animation: textAnim 33s linear infinite;
}

.text-banner .text-anim div span {
  width: 60px;
  height: 4px;
  background: #fff;
  display: inline-block;
  margin: 0 10px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

@-webkit-keyframes textAnim {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes textAnim {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/*==========================================================================================================================*/
.services .title {
  text-align: center;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item {
  width: 500px;
  height: 300px;
}

.services__item:first-child {
  margin-right: 20px;
}

.services__item-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.services__item-text:last-child {
  margin-bottom: 0;
}

.services__item img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

/*==========================================================================================================================*/
.main-portfolio .title {
  text-align: center;
}

.main-portfolio__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.main-portfolio__item-img {
  position: relative;
}

.main-portfolio__item-img img {
  width: 100%;
  height: auto;
  max-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-portfolio__item-img .show-more {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.85);
}

.main-portfolio__item-img .show-more__text {
  font-size: 30px;
  line-height: 30px;
}

.main-portfolio__item-title {
  font-size: 30px;
  line-height: 46px;
}

/*===========================================================================================================================*/
.skills .title {
  text-align: center;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__item:first-child {
  margin-right: 30px;
}

.skills__item p {
  margin: 10px 0;
}

.tagcloud {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  width: 100% !important;
}

.tagcloud--item {
  color: #fff;
}

.tagcloud--item {
  color: #fff;
}

/*======================================================================================================================*/
.experiments .title {
  text-align: center;
}

.experiments__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.experiments__item-content {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experiments__item-content .timer {
  display: inline-block;
  padding: 10px;
  font-size: 60px;
  line-height: 70px;
  border: 4px solid #fff;
  border-radius: 50px;
}

.experiments__item-content .loading {
  position: relative;
}

.experiments__item-content .loading1,
.experiments__item-content .loading2,
.experiments__item-content .loading3 {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-left-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.experiments__item-content .loading1 {
  width: 200px;
  height: 200px;
  -webkit-animation: animation-rotate 1000ms linear infinite;
          animation: animation-rotate 1000ms linear infinite;
}

.experiments__item-content .loading2 {
  width: 210px;
  height: 210px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
  -webkit-animation: animation-rotate 800ms linear infinite;
          animation: animation-rotate 800ms linear infinite;
}

.experiments__item-content .loading3 {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-animation: animation-rotate 600ms linear infinite;
          animation: animation-rotate 600ms linear infinite;
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.experiments__item-title {
  font-size: 26px;
  line-height: 30px;
  display: block;
  text-align: center;
}

.experiments__item-title span {
  padding-right: 40px;
  display: inline-block;
  position: relative;
}

.experiments__item-title span .icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  fill: #fff;
}

/*========================================================================================================================*/
.contacts {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contacts .show-more {
  width: 100px;
  height: 100px;
  background: rgba(10, 10, 10, 0.95);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts .show-more .icon {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.contacts .text-anim {
  font-size: 60px;
  line-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.contacts .text-anim div {
  white-space: nowrap;
  -webkit-animation: textAnim 33s linear infinite;
          animation: textAnim 33s linear infinite;
}

.contacts .text-anim div span {
  display: inline-block;
  width: 60px;
  height: 4px;
  background: #fff;
  margin: 0 10px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

@keyframes textAnim {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/*===========================================================================================================================*/
@media (max-width: 1210px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .services__item:first-child {
    width: 49%;
    margin-right: 0;
  }
  .services__item:first-child img {
    width: 100%;
  }
  .services__item:last-child {
    width: 49%;
  }
}

@media (max-width: 821px) {
  .services__items {
    display: block;
    position: relative;
  }
  .services__item:first-child {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .services__item:first-child img {
    width: 100%;
  }
  .services__item:first-child::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, 0.65);
  }
  .services__item:last-child {
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    max-width: 600px;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }
  .main-portfolio__item-img .show-more {
    width: 100px;
    height: 100px;
  }
  .main-portfolio__item-img .show-more__text {
    font-size: 20px;
    line-height: 20px;
  }
  .main-portfolio__item-img .show-more {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }
  .main-portfolio__item-img .show-more__text {
    font-size: 20px;
    line-height: 20px;
  }
  .main-portfolio__item-title {
    font-size: 24px;
  }
}

@media (max-height: 400px) {
  .header {
    padding: 5px 0;
  }
  .header__logo-big {
    font-size: 36px;
    line-height: 36px;
  }
  .header__logo-small {
    font-size: 14px;
    line-height: 14px;
  }
  .main {
    padding-top: 60px;
    height: 100vh !important;
  }
}

@media (max-width: 768px) {
  .main {
    height: 500px;
  }
  #canvas {
    display: none;
  }
  .main-portfolio__item-title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 600px) {
  section {
    margin-bottom: 50px;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .header {
    padding: 5px 0;
  }
  .header__logo-big {
    font-size: 36px;
    line-height: 36px;
  }
  .header__logo-small {
    font-size: 14px;
    line-height: 14px;
  }
  .header__nav {
    display: none;
  }
  .header .mobile-menu__btn {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .main {
    padding-top: 60px;
    height: 300px;
  }
  .main__title {
    font-size: 40px;
    line-height: 40px;
  }
  .main__subtitle {
    font-size: 20px;
    line-height: 20px;
  }
  .main .show-more {
    width: 60px;
    height: 60px;
    margin-left: 210px;
  }
  .main .show-more__text {
    font-size: 12px;
    line-height: 12px;
  }
  .text-banner .text-anim {
    font-size: 40px;
  }
  .text-banner .text-anim span {
    -webkit-transform: translateY(-12px) !important;
            transform: translateY(-12px) !important;
  }
  .services__item:first-child {
    height: auto;
  }
  .services__item:first-child::before {
    display: none;
  }
  .services__item:last-child {
    margin-top: 10px;
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    max-width: 100%;
  }
  .main-portfolio__items {
    display: block;
  }
  .main-portfolio__item {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 30px;
  }
  .main-portfolio__item-title {
    font-size: 24px;
  }
  .skills__items {
    display: block;
  }
  .skills__item {
    width: 100%;
    text-align: center;
  }
  .experiments__items {
    display: block;
  }
  .experiments__item {
    margin-bottom: 20px;
  }
  .contacts .text-anim {
    font-size: 40px;
  }
  .contacts .text-anim span {
    -webkit-transform: translateY(-12px) !important;
            transform: translateY(-12px) !important;
  }
}

@media (max-width: 425px) {
  .text-banner .text-anim {
    font-size: 30px;
  }
  .text-banner .text-anim span {
    width: 40px !important;
    -webkit-transform: translateY(-8px) !important;
            transform: translateY(-8px) !important;
  }
  .services__item-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .contacts {
    height: 100px;
  }
  .contacts .show-more {
    width: 70px;
    height: 70px;
  }
  .contacts .show-more .icon {
    width: 30px;
    height: 30px;
  }
  .contacts .text-anim {
    font-size: 30px;
  }
  .contacts .text-anim span {
    width: 40px !important;
    -webkit-transform: translateY(-8px) !important;
            transform: translateY(-8px) !important;
  }
}

@media (max-width: 375px) {
  .main__title {
    font-size: 33px;
    line-height: 33px;
  }
  .main-portfolio__item-title {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */