* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   background: #000;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #fff;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

/*header=====================================================================================================================*/
.header{
   padding-top: 15px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo{
      text-decoration: none;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 5px;
      position: relative;

      &:hover {
         
         &::before {
            width: 130%;
            height: 130%;
         }
      }

      &::before {
         content: '';
         width: 100%;
         height: 100%;
         border: 2px solid #969696;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         z-index: -1;
         border-radius: 50%;
         transition: all .2s linear;
      }

      &-big {
         font-size: 50px;
         line-height: 50px;
         font-weight: bold;
         color: #690069;
         padding: 0 3px;
      }

      &-small {
         font-size: 20px;
         line-height: 20px;
         position: absolute;
         bottom: 10px;
         left: 5px;
      }
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      width: 400px;
      overflow: hidden;

      &-item {
         font-size: 18px;
         line-height: 18px;
         color: #969696;
         position: relative;
         height: 18px;

         &:hover{
            .hover-item1 {
               transform: translateY(-20px);
            }

            .hover-item2 {
               bottom: 0px;
            }
         }

         span {
            display: block;
         }

         .hover-item1 {
            transform: translateY(0);
            transition: all .2s linear;
         }

         .hover-item2 {
            position: absolute;
            bottom: -20px;
            color: #fff;
            transition: all .2s linear;
         }
      }
   }
}

.mobile-menu {
   position: fixed;
   top: 79px;
   right: -245px;
   padding-right: 10px;
   padding-left: 10px;
   border-left: 1px solid #fff;
   height: calc(100vh - 79px);
   background: #000;
   transition: all .2s linear;

   &.active {
      right: 0;
   }

   &__btn {
      display: none;
      width: 50px;
      height: 20px;
      background: transparent;
      position: relative;
      border: none;

      &::before {
         content: '';
         width: 100%;
         height: 5px;
         border-radius: 50px;
         background: #fff;
         position: absolute;
         top: 0;
         left: 0;
      }

      &::after {
         content: '';
         width: 100%;
         height: 5px;
         border-radius: 50px;
         background: #fff;
         position: absolute;
         bottom: 0;
         left: 0;
      }
   }

   &__nav {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 20px;
      line-height: 20px;

      &-item {
         margin-bottom: 20px;
      }
   }

   &__contacts {
      text-align: center;

      &-item {
         display: block;
         margin-bottom: 20px;
      }
      
      .mobile-menu__social {
         display: flex;
         justify-content: space-between;
         width: 150px;
         margin: 0 auto 20px;

         .icon {
            fill: #fff;
            width: 30px;
            height: 30px;
         }
      }
   }
}

@media(max-width: 1210px) {
   .container {
      padding: 0 10px;
   }
}

@media(max-width: 600px) {
   .header {
      &__nav {
         display: none;
      }

      .mobile-menu__btn {
         display: block;
      }
   }
   
}