* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background: #000;
   color: #fff;
}

body.loaded .preload{
   transform: translateY(-100%);
   opacity: 0;
   transition: .5s linear;
}

.preload {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10;
}

.preload__text {
   background-image: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(249,249,249,1) 50%, rgba(0,0,0,1) 60%);
   background-size: 400%;
   font-size: calc(20px + 4vh);
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 16px;
   padding-left: 16px;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-stroke: .5px #fff;
   animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
   0% {
      background-position: 100%;
   }
   100% {
      background-position: 0%;
   }
}

section {
   max-width: 1024px;
   width: 100%;
   margin: 0 auto;
   padding: 0 5px;
}

/*==============================================================================*\
#HEADER
\*==============================================================================*/
.header {
   font-size: 18px;
   font-weight: 500;
   padding: 5px 0 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #000;
}

.logo {
   font-size: 30px;
   display: flex;
   align-items: center;
   color: #fff;
}

.header__list {
   display: flex;
   justify-content: right;
   gap: 20px;
}

.header__list-item {
   text-transform: uppercase;
   color: #a1a1a1;
   text-decoration: none;
   overflow: hidden;
   height: 18px;
   transition: .2s linear;
}

.header__list-item:hover .header__list-item--1{
   transform: translateY(-100%);
   transition: .2s linear;
}

.header__list-item:hover .header__list-item--2{
   transform: translateY(-100%);
   transition: .2s linear;
}

.header__list-item.active .header__list-item--1{
   color: #fff;
   transition: .2s linear;
}

.header__list-item--1 {
   display: block;
   color: #a1a1a1;
   transition: .2s linear;
}

.header__list-item--2 {
   display: block;
   color: #fff;
   transition: .2s linear;
}

.navbar {
   width: 30px;
   height: 14px;
   border: none;
   background: transparent;
   cursor: pointer;
   position: relative;
   display: none;
}

.navbar:hover::before {
   top: 11px;
}
.navbar:hover::after {
   bottom: 11px;
}

.navbar::before {
   content: '';
   width: 100%;
   height: 3px;
   background: #fff;
   position: absolute;
   left: 0;
   top: 0;
   transition: .2s linear;
}

.navbar::after {
   content: '';
   width: 100%;
   height: 3px;
   background: #fff;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: .2s linear;
}

/*==============================================================================*\
#main
\*==============================================================================*/
.hero {
   overflow: hidden;
}

.hero__title-container {
   display: flex;
   overflow: hidden;
}

.hero__title {
   text-transform: uppercase;
   font-size: 7vh;
   margin-right: 50px;
   white-space: nowrap;
   animation: moveLeft 10s linear infinite;
}

.hero__title-second {
   font-size: 50px;
   display: none;
}

@keyframes moveLeft {
   0% {
      transform: translateX(0%);
   }
   100% {
      transform: translateX(-100%);
   }
}

.hero__promo video {
   width: 100%;
}

.hero-text {
   text-transform: uppercase;
   font-size: 30px;
   font-weight: 700;
}

/*==============================================================================*\
#max-width: 600px
\*==============================================================================*/
@media (max-width: 600px) {
   .header {
      height: 100vh;
      display: inline-block;
      padding-left: 5px;
      padding-right: 20px;
      border-right: 2px solid #fff;
      position: fixed;
      top: 0;
      left: -52%;
      transition: .3s linear;
      z-index: 10;
   }

   .header.active {
      left: 0px;
   }

   .logo {
      font-size: 36px;
   }
   
   .header__list {
      display: block;
   }

   .header__list-item {
      display: block;
      font-size: 20px;
      height: 20px;
      margin: 16px 0;
   }

   .header__list-item--1, 
   .header__list-item--2 {
      height: 26px;
   }

   .navbar {
      display: block;
      position: fixed;
      top: 10px;
      right: 5px;
   }

   .hero__title-container {
      margin-top: 36px;
   }

   .hero__title {
      display: none;
   }

   .hero__title-second {
      display: block;
   }
}

/*==============================================================================*\
#max-width: 600px
\*==============================================================================*/
@media (max-width: 500px) {
   .hero__title-second {
      font-size: 34px;
   }
}
